table,th,td{
    /*border-style: ;
    border-color: ;
    border-width: ;*/
    border: 1px solid rgb(103, 232, 221);
}

table{
    width: 100%;
    text-align: center;
}

td{
    color: rgb(200, 250, 139);
    padding: 15px;
}

td img{
    width: 50%;
}

th{
    color: greenyellow;
}